# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/
**/bin/
**/obj/

# Logs
*.log

# Publicaciones
publish/

# Rider / VS Code
.idea/
.vscode/

# Config locales opcionales
appsettings.Development.json
appsettings.Local.json